*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    background-color: rgb(20, 95, 202);
    box-sizing: border-box;
    width: 60vh;
    height: 10vh;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15vh;
    margin-left: 35vh;
    margin-right: 35vh;
    font-size: 4vh;
    color: rgb(233, 243, 243);
 }
.container
{
    color: aliceblue;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    margin-left: 35vh;
    margin-right: 35vh;
    width: 60vh;
    background-color:paleturquoise;
    display: flex;
    color: black;
    
}
.apps
{
background-color: rgb(25, 183, 125);
margin: 1.9vh;
border-radius: 10px;

}
.apps a{
    color: bisque;
    border-radius: 5px;
    color: azure;
    text-align: justify;
    
}
.about{
    background-color: rgb(25, 183, 125);
    margin: 10px;
    border-radius: 10px;

}
.about a
{
    color: bisque;
    border-radius: 5px;
    color: azure;
    text-decoration: none;
}
p{
    width: 50vh;
}
    map{
       break-after:w] ;
    }
